@font-face {
    font-family: 'Learning Curve bold';
    src: url('/Fonts/LearningCurve-Bold.woff2') format('woff2'),
        url('/Fonts/LearningCurve-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Learning Curve';
    src: url('/Fonts/LearningCurve.woff2') format('woff2'),
        url('/Fonts/LearningCurve.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kazimir';
    src: url('/Fonts/Kazimir-Regular.woff2') format('woff2'),
        url('/Fonts/Kazimir-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('/Fonts/BrandonGrotesque-Light.woff2') format('woff2'),
        url('/Fonts/BrandonGrotesque-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


