.container {
  width: 1280px;
  margin: 0 auto;
  border: 1px solid rgb(201, 201, 201)
}

.header {
  width: 1280px;
}

.logo {
  display: inline-block;
  font-family: 'Kazimir';
  font-weight: 600;
  font-size: 70px;
  margin: 17px 74px 39px 44px;
  opacity: 75%;
  vertical-align: middle;
  cursor: pointer;
}


ul {
  display: inline-block;
  vertical-align: middle;
}

.headlist {
  display: inline-block;
  margin-right: 104px;
  font-family: 'Brandon Grotesque';
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;

}

.magnifier{
  cursor: pointer;
}




/* აქედან იწყება სექცია */

.section {
  width: 1280px;
  background-color: #306B34;
}

.book {
  width: 679px;
  display: inline-block;
  vertical-align: middle;
  margin: 174px 0px 152px 90px;
}

.textbox1 {
  width: 306px;
  display: inline-block;
  vertical-align: middle;
  margin: 174px 0px 199px 89px;
}

.title1 {
  font-family: 'Brandon Grotesque';
  font-size: 40px;
  margin: 0px;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 40px;
  font-size: 40px;
  font-family: 'Brandon Grotesque';
  color: #19381F;
}

.text1 {
  display: inline-block;
  font-size: 20px;
  color: #F4F4F1;
  font-family: 'Kazimir';
  font-style: italic;
  font-weight: 300px; 
  line-height: 30px;

}


/* აქედან იწყება არტიკლი */

.article{
  width: 1280px;
}

.textbox2{
  width: 1000px;
  display: block;
  margin: 75px 138px 69px 184px;

}

.title2{
  font-family: 'Kazimir';
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  padding-bottom: 70px;
  color: #36413E;
}

.text2{
  font-family: 'Kazimir';
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  color: #7F7F7F;
  text-align: center;
  line-height: 27px;
}

.button{
  width: 148px;
  background-color:#36413E;
  border: #707070;
  color: white;
  padding: 15px 25px 17px 25px;
  margin: 0px 542px 33px 590px;
  font-family: 'Brandon Grotesque';
  font-weight: 800;
  font-size: 12px;
  cursor: pointer;
}


/* აქედან იწყება ფუტერი */

.footer{
  width: 1280px;
  background-color: #306B34;
  vertical-align: middle;
  display: inline-block;
}

.text3{
  display: inline-block;
  font-family:'Brandon Grotesque';
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin: 18px 0px 23px 75px;
  vertical-align: middle;
}

.copyright{
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  color: white;
  margin: 18px 110px 23px 725px;
  vertical-align: middle;
}